<div class="border border-warning p-3 row">
  <div class="col col-8 border border-primary p-0.5">
    <app-menu class="row justify-content-md-center"></app-menu>
  </div>
  <a class="btn btn-primary ms-5 col col-2" routerLink="basket"> Basket</a>
</div>
<!--
 <app-product-site></app-product-site>


<router-outlet></router-outlet>

<div>
    <div><input [(ngModel)]="name" />
        <button (click)="addItem(name)">Добавить</button>
    </div>
    <ul>
    @for(item of items; track $index){
        <li>{{item}}</li>
    }
    </ul>
</div>
 -->
