

<div class="container-fluid m-1">
  <div class="row">
    @for(product of products; track $index){ @if ( product.category_id ===
    subProductType) {

    <div class="card m-1" style="width: 20rem">
      <div class="card-body">
        <p class="card-text">
          {{ product.title }}
        </p>
        <div style="width: 16rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Размер
              <span style="position: absolute; right: 0">
                {{ product?.size }}</span
              >
            </li>
            <li class="list-group-item">
              Пол
              <span style="position: absolute; right: 0">
                {{ product?.sex }}</span
              >
            </li>

            <li class="list-group-item">
              Цвет
              <span style="position: absolute; right: 0">
                {{ product?.color }}</span
              >
            </li>

            <li class="list-group-item">
              Описание товара: <br />
              <div style="position: absolute, height=60px; right: 0" >
                {{ product?.description }}
            </div>
            </li>

            <li class="list-group-item">
              Количество на складе
              <span style="position: absolute; right: 0">
                {{ product?.quantity_in_stock }}</span
              >
            </li>

            <li class="list-group-item">
              Цена
              <span style="position: absolute; right: 0">
                {{ product?.price }}р.</span
              >           
            </li>
            <div class="btn btn-primary" (click)="addToCart(product)">
              В корзину
            </div>
          </ul>
        </div>
      </div>
    </div>

    } }
  </div>
</div>

<button type="button" class="btn btn-secondary m-2" (click)="goBack()">go back</button>

<!-- <button>
  <a routerLink="product">Product</a>
</button> -->
